  <%= stylesheet_link_tag 'groups', media: 'all', 'data-turbolinks-track': 'reload' %>


<div class="aside">
  <div class="username">
    <% if user_signed_in? %>
      <h2 style="font-weight: bold"><%= current_user.username %></h2>
    <% else %>
      <h2>未ログイン</h2>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="check">
      <input type="checkbox" id="test">
      <h2>ホーム</h2>
    </div>

    <div class="hidden_box">
      <label for="label1">>マイグループ</label>
      <input type="checkbox" id="label1">
      <div class="hidden_show">
        <ul class="gnav">
          <% current_user.groups.each do |group| %>
            <li>

              <% if false %>
                <a href="" class="js-modal-open" data-target="modal02"><%= group.title %></a>
                <div id="modal02" class="modal js-modal">
                  <div class="modal__bg js-modal-close"></div>
                  <div class="modal__content">
                    <%# ここからモーダルメニュー %>
                    <h1><%= group.title %></h1>
                    <hr>
                    <p><span>グループ名: </span><%= group.title %></p>
                    <hr>
                    <p><span>参加人数： </span><%= group.user_groups.count %>人</p>
                    <hr>
                    <% group.users.each do |user| %>
                    <p><span>参加ユーザー名: </span><%= user.username %></p>
                    <% end %>
                    <hr>
                    <% if group.lists.exists? %>
                      <% group.lists.each do |list| %>
                        <p><span>登録リスト名: </span><%= list.title %></p>
                      <% end %>
                    <% else %>
                      <p>リストは現在登録されていません</p>
                    <% end %>
                    <hr>
                  </div>
                </div>
                <ul>
                  <% if group.lists.exists? %>
                    <% group.lists.each do |list| %>
                      <li><%= list.title %></li>
                    <% end %>
                  <% else %>
                    <li>リストはありません</li>
                  <% end %>
                </ul>
              <% end %>

              <%= link_to group.title, group_path(group.id) %>
              <ul>
                <% if group.lists.exists? %>
                  <% group.lists.each do |list| %>
                    <li>
                      <% if list.indication == 0 %>
                        <%= link_to "○", switch_group_list_path(group,list) %>
                      <% else %>
                        <%= link_to "×", switch_group_list_path(group,list) %>
                      <% end %>
                      <%= link_to list.title, group_list_path(group,list) %>
                    </li>
                  <% end %>
                <% else %>
                  <li>リストはありません</li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>



  <div class="check">
    <input type="checkbox" id="test"/>
    <h2>何かいれるかも</h2>
  </div>


  <% if user_signed_in? %>
    <div class="hidden_box">
      <label for="label2">>未参加グループ名</label>
      <input type="checkbox" id="label2">
      <div class="hidden_show">
        <ul class="gnav">
          <% @groups.each do |group| %>
            <% unless group.grouped_by?(current_user) %>
              <li>
                <%= link_to group.title, group_path(group.id) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="check">
      <a href="" class="js-modal-open" data-target="modal01">新規グループ作成</a>
      <div id="modal01" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
          <%# ここからモーダルメニュー %>
          <h1>【新規グループ作成】</h1>
          <%= form_with(model: @new_group, local: true, url: groups_path) do |form| %>
            <p>
              <%= form.label :title, "グループ名" %>
              <%= form.text_field :title %>
              <br>
              <%= form.label :color, "グループの色" %>
              <%= form.text_field :color %>
            </p>
            <%= form.submit %>
          <% end %>
          <a class="js-modal-close" href="">閉じる</a>
        </div>
      </div>
    </div>
  <% end %>
  
</div>




<% if false %>

  <% @groups.each do |group| %>
    <p><span>グループ名: </span><%= link_to group.title, groups_path(group.id) %></p>

    <% if user_signed_in? %>
      <% if group.grouped_by?(current_user) %>
        <p><span>グループを退会: </span><%= link_to group.user_groups.count, group_user_groups_path(group.id), method: :delete %></p>
      <% else %>
        <p><span>グループに参加: </span><%= link_to group.user_groups.count, group_user_groups_path(group.id), method: :post %></p>
      <% end %>
    <% else %>
      <p><span>参加人数: </span><%= group.user_groups.count %></p>
    <% end %>
    <hr>
  <% end %>

  <h2>グループ新規作成</h2>
  <%= form_with(model: @group, url: groups_path, local: true) do |form| %>
    <p>
      <%= form.label :title, "グループ名" %>
      <%= form.text_field :title %>
      <br>
      <%= form.label :color, "グループの色" %>
      <%= form.text_field :color %>
    </p>
    <%= form.submit %>
  <% end %>

<% end %>







<!-- -------------------------------------------------------------------------------- -->


<div class="todo">
  <h3>todo</h3>
  <hr>
  <% @groups.each do |group| %>
    <% group.lists.each do |list| %>
      <% if list.indication == 1 %>
        <% list.tasks.each do |task| %>
          <% if task.todo == 0 %>
            <div class="sample">
              <h4>タスクタイトル：「<%= task.title %>」(リスト：<%= list.title %>)</h4>
              <hr>
              <p>内容：<%= task.body %></p>
              <hr>
              <p>締切：<%= task.target_date %></p>
              <hr>
              <p><%= link_to "doingに移動", change_group_list_task_path(group, list, task) %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="doing">
  <h3>doing</h3>
  <hr>
  <% @groups.each do |group| %>
    <% group.lists.each do |list| %>
      <% if list.indication == 1 %>
        <% list.tasks.each do |task| %>
          <% if task.todo == 1 %>
            <div class="sample">
              <h4>タスクタイトル：「<%= task.title %>」(リスト：<%= list.title %>)</h4>
              <hr>
              <h4>リストタイトル：「<%= list.title %>」</h4>
              <hr>
              <p>内容：<%= task.body %></p>
              <p><%= link_to "doneに移動", change_group_list_task_path(group, list, task) %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="done">
  <h3>done</h3>
  <hr>
  <% @groups.each do |group| %>
    <% group.lists.each do |list| %>
      <% if list.indication == 1 %>
        <% list.tasks.each do |task| %>
          <% if task.todo == 2 %>
            <div class="sample">
              <h4>タスクタイトル：「<%= task.title %>」</h4>
              <hr>
              <h4>リストタイトル：「<%= list.title %>」</h4>
              <hr>
              <p>内容：<%= task.body %></p>
              <hr>
              <p><%= link_to "タスクをリストから削除", group_list_task_path(group, list, task), method: :delete, data:{ confirm: 'Sure?'} %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
