<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>タスク管理ツール</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <h2>タスク管理ツール(仮)</h2>
      </div>
      <div>
        <%= link_to "TOP画面", groups_path %>
        <% if user_signed_in? %>  <!-- deviseのメソッドで、「ログインしているかしていないかでtrue or falseを返す」メソッド -->
          <%= link_to "マイページ", user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "ユーザー新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
        <%= link_to "(ユーザー一覧)", users_path %>
      </div>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <h2>footer</h2>
      <p>フッターはいらないかも</p>
    </footer>


    <script>
    $(function(){
      $('.js-modal-open').each(function(){
        $(this).on('click',function(){
          var target = $(this).data('target');
          var modal = document.getElementById(target);
          // $(".gnav ul li").css("display", "none");
          $(modal).fadeIn(200);
          return false;
        });
      });
      $('.js-modal-close').on('click',function(){
        $('.js-modal').fadeOut(200);
        return false;
      });

      // $(".gnav li").hover(
      //   function() {
      //   $("this ul").css("display", "block");
      // },
      // function() {
      //   $("this").children("ul").css("display", "none");
      // }
      // )
    });
    </script>
  </body>
</html>
